
<div class="EScoreTotal fontMiddleW"><a>{{vm.lang.heji}}：</a><a class="fontColoR">{{vm.data.flowCPR}}</a></div>
<!--<div class="EScoreTotal fontMiddleW"><a>{{vm.lang.heji}}：</a><a class="fontColoR">{{vm.data.flowYiwu+vm.data.flowMaibo+vm.data.flowHujiao+vm.data.flowHuxi+vm.data.flowYishi+vm.data.flowCPR}}</a></div>-->
<div class="EModulBG fontMiddleWS">
    <div class="EeditContent" style="width: 100%">
       <!-- <div class="EeditContentArea "  style="width: 50%">
            <div class="EcprTypeName" style="font-size: {{vm.langNumber==1?13:''}}px;">{{vm.lang.qingchuyiwu}}</div>
            <div class="EcprTypeValueT1 fontMiddleG"><input type="number" class="input" ng-model="vm.data.flowYiwu" /></div>
            <div class="EcprTypeUnit" style="font-size: {{vm.langNumber==1?13:''}}px;">{{vm.lang.fen}}</div>
        </div>

        <div class="EeditContentArea " style="width: 50%">
            <div class="EcprTypeName" style="font-size: {{vm.langNumber==1?13:''}}px;">{{vm.lang.maibojiancha}}</div>
            <div class="EcprTypeValueT1 fontMiddleG"><input type="number" class="input" ng-model="vm.data.flowMaibo" /></div>
            <div class="EcprTypeUnit" style="font-size: {{vm.langNumber==1?13:''}}px;">{{vm.lang.fen}}</div>
        </div>
        <div class="EeditContentArea " style="width: 50%">
            <div class="EcprTypeName" style="font-size: {{vm.langNumber==1?13:''}}px;">{{vm.lang.jijiuhujiao}}</div>
            <div class="EcprTypeValueT1 fontMiddleG"><input type="number" class="input" ng-model="vm.data.flowHujiao" /></div>
            <div class="EcprTypeUnit" style="font-size: {{vm.langNumber==1?13:''}}px;">{{vm.lang.fen}}</div>
        </div>
        <div class="EeditContentArea " style="width: 50%">
            <div class="EcprTypeName" style="font-size: {{vm.langNumber==1?13:''}}px;">{{vm.lang.huxijiancha}}</div>
            <div class="EcprTypeValueT1 fontMiddleG"><input type="number" class="input" ng-model="vm.data.flowHuxi" /></div>
            <div class="EcprTypeUnit" style="font-size: {{vm.langNumber==1?13:''}}px;">{{vm.lang.fen}}</div>
        </div>
        <div class="EeditContentArea " style="width: 50%;">
            <div class="EcprTypeName"style="font-size: {{vm.langNumber==1?13:''}}px;">{{vm.lang.yishipanduan}}</div>
            <div class="EcprTypeValueT1 fontMiddleG"><input type="number" class="input" ng-model="vm.data.flowYishi" /></div>
            <div class="EcprTypeUnit"style="font-size: {{vm.langNumber==1?13:''}}px;">{{vm.lang.fen}}</div>
        </div>-->
        <div class="EeditContentArea " style="width: 50%">
            <div class="EcprTypeName"style="font-size: {{vm.langNumber==1?13:''}}px;">{{vm.lang.CPR}}</div>
            <div class="EcprTypeValueT1 fontMiddleG"><input type="number" class="input" ng-model="vm.data.flowCPR" /></div>
            <div class="EcprTypeUnit"style="font-size: {{vm.langNumber==1?13:''}}px;">{{vm.lang.fen}}</div>
        </div>

    </div>

</div>