<div class="centerDialog">
    <center class="borderColor">
        <div class="subTitle">提示</div>
        <div class="context borderColor">
            <input type="text" ng-model="vm.user_login.password" placeholder="请输入系统密码" >
        </div>
        <div class="btns">
            <div class="btns">
                <div class="btn borderColor" ng-click="vm.loginClose()">取消</div>
                <div class="btn" ng-click="vm.loginEnter()">确认</div>
            </div>
        </div>
    </center>
</div>