

<div class="EModulBG fontMiddleWS">
    <div class="EeditContent" style="width: 100%">
        <div class="EeditContentArea "  style="width: 50%">
            <div class="EcprTypeName" style="width: 50%;;font-size: {{vm.langNumber==1?11:''}}px;">{{vm.lang.qingshurudangqianmima}}</div>
            <div class="EcprTypeValueT1 fontMiddleG"><input class="input" style="text-align: left;" type="password" ng-model="vm.oldPwd"></div>
        </div>

        <div class="EeditContentArea " style="width: 50%">
            <div class="EcprTypeName" style="width: 50%;font-size: {{vm.langNumber==1?11:''}}px;">{{vm.lang.qingshuruxinmima}}</div>
            <div class="EcprTypeValueT1 fontMiddleG"><input class="input" style="text-align: left;" type="password" ng-model="vm.newPwd"></div>
        </div>
        <div class="EeditContentArea " style="width: 50%">
            <div class="EcprTypeName" style="width: 50%;font-size: {{vm.langNumber==1?11:''}}px;">{{vm.lang.qingzaicishuruxinmima}}</div>
            <div class="EcprTypeValueT1 fontMiddleG"><input class="input" style="text-align: left;" type="password" ng-model="vm.confirmPwd"></div>
        </div>


    </div>

</div>