body{
	margin: 0;
	color:#fff;
	background:#262f40;
}
#cprDataDetail{
	background:#262f40;
}
#cprDataDetail .cleft{
	float:left;
}
#cprDataDetail .item{
	width:50%;
	float:left;
	color:#fff;
	font-weight: bold;
}
#cprDataDetail .ctitle{
	width: 40px;
text-align: center;
	font-size:20px;

	background: #1d2228
}
#cprDataDetail .shupai{
	display: table-cell;
	vertical-align: middle;
	width:1.5em;
}
#cprDataDetail .ctitle br{
	margin-top: 8px;
}

#cprDataDetail .ctitle2{
    text-align: center;
	font-size:18px;

	background: #262F40
}
#cprDataDetail .ctitle3{
	width: 40px;
	text-align: center;
	font-size:20px;

	background: #323D51
}

#cprDataDetail .tbTitle{
	background: #262F40
}


#cprDataDetail  td{border:solid #2a3344; border-width:0px 2px 2px 0px; padding: 2px}
#cprDataDetail  table{border:solid #2a3344; border-width:2px 0px 0px 2px;}